mat-card {
  width: 200px;
  height: 100px;
  margin: 5px;
}

mat-card-content {
  color: white;
}

mat-card-header {
  color: white;
  font-weight: bold;
}

mat-icon {
  color: white;
  margin-inline: 5px;
  bottom: 10px;
  left: 10px;
}

mat-icon:hover {
  color: greenyellow;
  cursor: pointer;
}

.carte {
  position: relative;
}

.icons {
  position: absolute;
  bottom: 0;
}
